/* -------------------- BTN Action ------------------- */
.button-menu-ba {
  display: flex;
  justify-content: center;
  height: 25px;
  /* border: 1px solid black; */
}
.button-menu-ba .button-ba {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #1676ad;
  height: 25px;
  width: 40px;
  font-size: 15px;
  border: 2px solid #1676ad;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}
.button-menu-ba .button-ba i {
  font-weight: 600;
}
