.btn-pengajuan {
  display: flex;
  justify-content: center;
  height: 25px;
  /* border: 1px solid black; */
}
.btn-pengajuan .btn-eye,
.btn-pengajuan .btn-no,
.btn-pengajuan .btn-yes {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 45px;
  font-size: 15px;
  padding: 3px 0px;
  border-radius: 7px;
  margin-left: 10px;
}
.btn-pengajuan .btn-eye {
  border: 1px solid #1676ad;
  color: #1676ad;
}
.btn-pengajuan .btn-no {
  background-color: #e71818;
  border: none;
  color: white;
}
.btn-pengajuan .btn-yes {
  background-color: #37e748;
  border: none;
  color: white;
}
.btn-pengajuan .btn-eye i,
.btn-pengajuan .btn-no i,
.btn-pengajuan .btn-yes i {
  font-weight: 600;
}
