.vb2 {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 1;
  gap: 20px;
  padding: 30px 0px;
}
.vb2 .vb2-box {
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  position: absolute;
  background: #fff;
  width: 815px;
  height: 550px;
  border-radius: 15px;
  padding: 40px;
  gap: 20px;
  overflow-y: scroll;
}
/* ----------------------------- CLOSE --------------------------- */
.vb2 .vb2-box .close {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.vb2 .vb2-box .close i {
  background-color: none;
  /* color: #8ea4b1; */
  color: black;
  font-size: 35px;
}

/* ----------------------------- LEFT --------------------------- */
.vb2 .vb2-box .left {
  box-sizing: border-box;
  grid-area: left;
  display: grid;
  grid-template-areas:
    "title title title"
    "left img right"
    "footer footer footer";
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  justify-content: center;
  /* border: 1px solid black; */
}
.vb2 .vb2-box .left h2 {
  margin-left: 10%;
  text-align: start;
  grid-area: title;
  width: 100%;
  color: #1676ad;
  font-weight: 600;
}
.vb2 .vb2-box .left i.fa-chevron-left {
  grid-area: left;
  display: flex;
  align-self: center;
  justify-content: end;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #1676ad;
  cursor: pointer;
  /* border: 1px solid black; */
}
.vb2 .vb2-box .left i.fa-chevron-right {
  grid-area: right;
  display: flex;
  align-self: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #1676ad;
  cursor: pointer;
  /* border: 1px solid black; */
}
.vb2 .vb2-box .left img {
  display: flex;
  justify-self: center;
  grid-area: img;
  border-radius: 10px;
  width: 100%;
  height: 70%;
  margin-top: 60px;
  /* border: 1px solid black; */
}

/* ----------------------------- RIGHT --------------------------- */
.vb2 .vb2-box .right {
  box-sizing: border-box;
  grid-area: right;
  width: 100%;
  /* border: 1px solid black; */
}
.vb2 .vb2-box .right .profil {
  display: flex;
  align-items: center;
}
.vb2 .vb2-box .right .profil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 15px;
}
.vb2 .vb2-box .right h2.barang {
  margin-top: -5px;
}

.vb2 .vb2-box .right .rating {
  margin-top: -15px;
  display: flex;
  align-items: center;
  height: 30px;
  /* border: 1px solid black; */
}
.vb2 .vb2-box .right .rating i {
  font-size: 15px;
  color: gold;
}
.vb2 .vb2-box .right .rating p:nth-child(2) {
  font-size: 15px;
  color: black;
  font-weight: 700;
}
.vb2 .vb2-box .right .rating p:nth-child(3) {
  margin-left: 15px;
  font-size: 15px;
  color: #1676adb6;
}
.vb2 .vb2-box .right .price-day {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 90%;
  height: 35px;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: none;
  padding: 3px 25px;
  margin-top: 10px;
}

.vb2 .vb2-box .right .price-day p:nth-child(1) {
  color: #1676ad;
  font-weight: 700;
}
.vb2 .vb2-box .right .price-day p:nth-child(2) {
  color: #1676ad99;
  font-weight: 600;
}

.vb2 .vb2-box .right .detail {
  display: flex;
  justify-content: space-between;
  height: 38px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}
.vb2 .vb2-box .right .detail.down {
  border-bottom: none;
}

.vb2 .vb2-box .right .detail.desc {
  display: flex;
  flex-direction: column;
  border: none;
}
.vb2 .vb2-box .right .detail .desc,
.vb2 .vb2-box .right .tgl .desc {
  color: #1676ad;
  font-weight: 700;
  font-size: 15px;
}
.vb2 .vb2-box .right .detail .value,
.vb2 .vb2-box .right .tgl .value {
  color: black;
  font-size: 12px;
  font-weight: 500;
}
.vb2 .vb2-box .right .detail .value.desc {
  margin-top: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}
.vb2 .vb2-box .right .tgl {
  display: flex;
  margin-top: 50px;
}
.vb2 .vb2-box .right .tgl .tgl-sewa {
  width: 40%;
}
.vb2 .vb2-box .right .tgl .tgl-pengembalian {
  width: 60%;
}
